body {
    background-color: hsl(40, 1%, 57%);
}

h1 {
    color: rgb(12, 37, 134);
}

h1 span {
    color: #d69e36;
}

.menu > li > a {
    color: rgb(134, 12, 110);
}

ul li a span {
    color: red;
}

[data-role='dropdown'] {
    background-color: hsl(37, 38%, 63%);
}

[data-role='dropdown'] span {
    color: rgb(14, 86, 96);
}

.blabla+li {
    background-color: purple;
}

.content * {
    color: darkcyan;
}