* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body {
    background-color: #2d4480;
}

.card {
    width: 288px;
    height: 469px;
    border-radius: 27px;
    background-color: #fff;
    border: 1px #000;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h1 {
    font-family: 'Noto Sans Symbols';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    padding-top: 45px;
}

p {
    font-family: 'Noto Sans Symbols';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 32.8px;
    letter-spacing: 6%;
    height: 33px;
}

.features {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-top: 25px;
}

img {
    margin-right: 20px;
}

.line {
    font-weight: bolder;
    margin-top: 17px;
}

.free {
    height: 36px;
    font-family: 'Noto Sans Symbols';
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin-top: 5px;
    letter-spacing: 13%;
    color: #292929;
}

.forever {
    height: 36px;
    font-family: 'Allan';
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-left: 70px;
    color: #2d4480;
}

.getStarted {
    font-family: 'Noto Sans Symbols';
    font-weight: 600;
    font-size: 16px;
    line-height: 32.8px;
    text-transform: uppercase;
    color: #253868;
    text-align: center;
    padding-top: 15px;
    width: 181px;
    height: 68px;
    border-radius: 27px;
    background-color: #ffbc0f;
    margin-top: 440px;
    position: absolute;
}