@import url(reset.css);
@import url(variables.css);


.banner {
  z-index: -15;
  height: 650px;
  background-image: url(Assets/banner-background-main.jpg);
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .bar-banner {
    display: none;
  }
  .dots-banner {
    display: none;
  }
  .arrow-banner {
    position: absolute;
    left: -312px;
    bottom: 34px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 356px;
    width: 311px;
    h1 {
      text-align: center;
      font-weight: 700;
      letter-spacing: -1.79px;
      font-size: 40px;
      line-height: 40px;
      margin: 0;
      color: white;
    }
    p {
      color: white;
      text-align: center;
      font-size: 15px;
      margin: 0;
    }
    button {
      margin: 0;
    }
  }
}
