* {
    margin: 0px;
    box-sizing: border-box;
}

.blabla {
    background-color: pink;
    min-height: 50vh;
    max-height: 75vh;
    overflow: hidden;
}

.i-am-the-boss {
    background-color: cyan;
    padding: 2px;
    font-size: 1.2rem;
}

html {
    font-size: 30px;
}