* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body {
    font-family: Roboto;
    background-color: #d74949;
    width: 1440px;
    height: 684px;
    /*
    margin-top: -32px;
    margin-left: -336px;
    */
    margin: 0 auto;
}

main {
    width: 1110px;
    height: 615px;
    margin-left: 165px;
    background-color: #f3f3f3;
}

.recBody {
    width: 49px;
    height: 2px;
    margin-top: 6px; /*106px;*/
    /*
    margin-left: 165px;
    */
    background-color: #d9d9d9;
}

h1 {
    width: 64px;
    height: 16px;
    padding-top: 100px;
    margin-left: 49px /*215px*/;
    font-weight: 300;
    font-size: 14px;
    line-height: 16.41px;
    color: #000;
}

h2 {
    width: 1009px;
    height: 19px;
    /*
    margin-top: 128px;
    margin-left: 215px;
    */
    font-weight: 800;
    font-size: 16px;
    line-height: 18.75px;
    /*
    letter-spacing: 7%;
    */
    text-align: right;
    color: #000;
}

.mainP {
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
}

.mainP > span {
    color: #8f2727;
}

.card {
    width: 200px;
    height: 300px;
    margin-top: 38px; /*215px;*/
    margin-left: 49px; /*215px;*/
    border-radius: 15px;
    background-color: #fff;
}

.user {
    width: 64px;
    height: 16px;
    
    margin-top: 10px; /* 420px;*/
    margin-left: 10px; /*235px;*/
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    color: #000;
}

.role {
    width: 152px;
    height: 16px;
    margin-top: 5px;/*439px;*/
    margin-left: 10px; /*235px;*/
    font-weight: 300;
    font-size: 14px;
    line-height: 16.41px;
    color: #000;
}

.linkedin {
    width: 18px;
    height: 18px;
    margin-top: 10px;/*465px;*/
    margin-left: 10px;/*235px;*/
}

.whatsapp {
    width: 18px;
    height: 18px;
    margin-top: 10px;/*465px;*/
    margin-left: 5px;/*261px;*/
}

.ellipseProfile {
    width: 54px;
    height: 54px;
    /*
    margin-top: 489px;
    */
    margin-left: 160px;/*368px;*/
    background-color: #d9d9d9;
    border-radius: 50%;
}

footer {
    width: 1440px;
    height: 70px;
    /*
    margin-top: 615px;
    */
    background-color: #3a3a3a;
}

.textFooter {
    width: 176px;
    height: 16px;
    /*
    margin-top: 642px;
    */
    margin-left: 632px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    color: #fff;
}

.recFooter {
    width: 13px;
    height: 27px;
    /*
    margin-top: 615px;
    */
    margin-left: 735px;
    background-color: #d9d9d9;
}